<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <script src="/static/js/script.js"></script>
</head>
<body>
    <nav>
        <ol>
           <li><a href="{% url 'home' %}">Home</a></li>
           <li><a href="{% url 'about' %}">about</a></li>
           <li><a href="{% url 'contact' %}">contact</a></li>
        </ol>

    </nav>