<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</head>
<body>
    <a href="{% url 'about' %}">about  page </a>
    <div>
        <form action="" method="GET" class="m-5 p-5 border border-3 rounded">
            
            <div class="mb-3">
                    <label for="num1" class="form-label">First Number</label>
                    <input type="number" class="form-control" id="num1" name="num1" placeholder="Enter first number" required>
                </div>

                <div class="mb-3">
                    <label for="num2" class="form-label">Second Number</label>
                    <input type="number" class="form-control" id="num2" name="num2" placeholder="Enter second number" required>
                </div>
                <input type="number" value="{{result}}" name="" id="">
                <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</body>
</html>