<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this is home_page</h1>
    <a href="{% url 'about' %}">go to about page</a>

    <div>
        <form action="" method="GET">
            <label for="">enter number1</label>
            <input type="number">
            <br>
            <label for="">number2</label>
            <input type="number2">
            <br>
            <input type="number" value="{{value}}" name="" id="">
            <button type="submit">submit</button>
        </form>
    </div>
</body>
</html>