<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>this is home page </h1>
    <a href="{%url 'about' %}">go to about page</a><br>
    <a href="{%url 'data' %}">go to data</a>
    <br><br>
    <form action="" method="POST">
        {% csrf_token %}
        <label for="">ENTER NAME</label>
        <input type="text" name="username" placeholder="Enter your name">
        <button type="submit">save</button>
<br>
        <input type="text" value="{{usname}}">
    </form>
</body>
</html>